html
{
   overflow: hidden;
}
body
{
   width: 38%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.tron 
{
   width: 95%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.cv img
{
   width: 25%;
}
.cv
{
   margin-top: -120%;
   margin-left: 42.5%;
}
.linkedin img
{
   width: 25%;
}
.linkedin
{
   margin-left: 11%;
}
.fabrique img
{
   width: 34%;
}
.fabrique
{
   margin-left: 72%;
   margin-top: -8%;
}
.html img
{
   width: 15%;
}
.html
{
   margin-top: 5%;
   margin-left: 5%;
}
.open img
{
   width: 30%;
}
.open
{
   margin-top: -12%;
   margin-left: 5%;
}

.moi img
{
   width: 30%;
}
.moi
{
   margin-left: 38.4%;
   margin-top: -13%;
}
/* .moi 
{
   list-style-type: none;
   display: inline;
   margin-left: 12%;
 } */
 .moi:hover img
 {
   transform: scale(2);
   margin-left: 1.5%;
   margin-top: 3%;
   margin-bottom: -3%;
 }
.photoshop img
{
   width: 15%;
}
.photoshop
{
   /* margin-top: -5%; */
   margin-left: 5%;
}
.sql img
{
   width: 45%;
}
.sql
{
   margin-left: 85%;
   margin-top: -10%;
}
.php img
{
   width: 50%;
}
.php
{
   margin-top: 8%;
   margin-left: 85%;
}
h1
{
   color: white;
   text-align: center;
   text-shadow: 2px 2px 3px #8edfee;
   margin-top: 2%;
   font-size: 2.8em;
   font-family: Arial, sans-serif;
}
h2
{
   color: white;
   text-align: center;
   text-shadow: 2px 2px 3px #8edfee;
   margin-top: -6%;
   font-size: 2.8em;
   font-family: Arial, sans-serif;
}
#outils
{
   text-align: center;
}
.titre h1 h2
{
   width: 38%;
   margin-left: auto;
   margin-right: auto;
}
.texte
{
   width: 90%;
   text-align: center;
   margin: auto;
    margin-top: -3.5%;
}
mark
{
   background-color:  rgba(128, 128, 128, 0.65);
   color: white;
   text-shadow: 1px 1px 2px black;
}
footer
{
   width: 95%;
   margin: auto;
}
@media screen and (max-width: 1024px)
{
   p
   {
      font-size: 0.4em;
   }
   h1
   {
      font-size: 1.2em;
   }
   h2
   {
      font-size: 1.2em;
   }
   .moi
   {
      margin-top: -15%;
   }
}
